<div class="se-single-choice-question">
  <% question.options.ordered.each do |option| %>
    <div class="se-choice-option">
      <%= radio_button_tag "answers[#{question.id}][option_id]", option.id, 
          existing_answer&.options&.include?(option),
          required: question.required?,
          class: "se-choice-input",
          id: "question_#{question.id}_option_#{option.id}" %>
      <%= label_tag "question_#{question.id}_option_#{option.id}", option.option_text, 
          class: "se-choice-label" %>
      
      <% if option.is_other? %>
        <div class="se-other-input" style="<%= existing_answer&.options&.include?(option) ? '' : 'display: none;' %>">
          <%= text_field_tag "answers[#{question.id}][other_text]", existing_answer&.other_text,
              placeholder: "Please specify...",
              class: "se-other-text" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>